body {
    padding-top: 70px;
    background-color: transparent;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    width: 98%;
    margin: 50px auto;
}

.logo {
    height: 56px;
}

#success_message {
    display: none;
}

.checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

.checkout:hover {
    background-color: #494;
}

<<<<<<< HEAD
.noBullets {
    list-style: none;
    padding: auto;
}

#last-footer h5 {
    text-align: center;
}

.footlinks li a {
    text-align: center;
    margin-left: 5px;
}

.subscribe li {
    padding: 3px;
}

footer .widget {
	margin-bottom: 30px;
}

footer .widget h5 {
	font-size: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
}


.sub-footer {
	border-top: 1px solid #fafafa;
	padding: 50px 0 20px;
}

.sub-footer a{
	color: #444;
}

footer .sub-footer  p {
	font-size: 14px;
}

ul.social {
	list-style: none;
	padding-left: 0;
}
ul.social li {
	display: inline;
	margin-right: 5px;
}
